BROWSERSTACK_USERNAME=username
BROWSERSTACK_ACCESS_KEY=access_key
BROWSERSTACK_APP_ID=app_name
BROWSERSTACK_BUILD_NAME=build_name
PLATFORM_NAME=Android/IOS
OS_VERSION=12
DEVICE=device_id
TIMEOUT=60
AUTO_DISMISS_ALERTS=bool
ENABLE_MULTI_WINDOWS=bool